html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  color:white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

.card-tags{
  display : flex;
}
.card-tag{
  padding : 0.5rem;
  margin : 0.25rem;
  background: rgb(43 44 51);
  border-radius: 50px 50px 50px 50px;
}
